# Виртуальное окружение
venv/
.venv

# Среда разработки PyCharm
.idea/

# Файлы окружения (содержат секреты)
**/.env

# Кэш Python
__pycache__/
*.py[cod]

# Логи и базы данных
*.log
*.sqlite3
*.db
/sekr.env
