<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Bot Settings</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">Главная</a>
        <a href="{{ url_for('settings', user_id=1) }}">Настройки</a>
        <a href="{{ url_for('stats', user_id=1) }}">Статистика</a>
        <!-- КНОПКА ОТКРЫТЬ БОТА -->
        <a href="https://t.me/@military_news_23bot" target="_blank" style="margin-left: 16px; color: green; font-weight: bold;">
      Открыть Telegram-бота</a>
        </a>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
